html {
    overflow-y: scroll;
}

body {
    background-image: url('../Assets/warp-speed.jpg');
    background-attachment: fixed;
    background-size: 100%;
}




/* Style for the navbar     */

header {
    width: 100%;
    background-color: black;
    border: magenta solid 1.5px;
    padding-top: 5px;
}

#chrisFont {
    font-family: 'Caveat', cursive;
    color: magenta;
}

#rightNav {
    float: right;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
}

.nav-link {
    color: magenta;
}






/* Style for the index.html page */

/* Style for the main content */

.content-center {
    align-items: center;
    justify-content: center;
}

.card {
    background-color: rgba(0, 0, 0, 0.966);
    border: magenta solid 1.5px;
    margin-top: 30px;
    margin-bottom: 100px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    margin-right: auto;
}

.card-body {
    /* text-align: center; */
    align-items: center;
}

.img-thumbnail {
    border: magenta solid 1.5px;
    background-color: black;
    margin-right: 15px;
}

#chrisPhoto {
 max-width: auto;
 float: left;
 height: auto;
}

/* End of Style for index.html page */




/* Style for portfolio.html */

#bottomRow {
    padding-top: 20px;
}

/* End of style for portfolio.html */




/* Style for contact.html */

#contactForm {
    max-width: 90%;
    /* margin-left: 50px;
    margin-right: 50px; */
    margin-top: 90px;
    margin-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.897);
    padding: 20px;
    font-family: 'Open Sans Condensed', sans-serif;;
    color: white;
}

h5 {
    padding-top: 10px;
}

/* End of style for contact.html */




/* Style for the footer */

footer {
    width: 100%;
    background-color: black;
    border: magenta solid 1.5px;
    padding-top: 5px;
}

h4 {
    text-align: center;
}